extends layout

block content
  header
    h1 Browse Books
  if books
    for book in books
      article
        div
          img(src=book.book_image)
        div
          h2= book.title
          p= book.author